.slide-up {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  animation-name: slide-up;
  animation-timing-function: cubic-bezier(0, 0.56, 0, 0.93);
  animation-fill-mode: forwards;
  transition-property: scale, clip-path, transform;
}
@keyframes slide-up {
  99% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
 100% {
  clip-path: unset;
} }


.slide-down {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  animation-name: slide-down;
  animation-timing-function: cubic-bezier(0, 0.56, 0, 0.93);
  animation-fill-mode: forwards;
  transition-property: scale, clip-path, transform;
}
@keyframes slide-down {
  99% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  100% {
  clip-path: unset;
}
}
