@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45deg 100% 97%;
    --foreground: 202deg 11% 40%;

    --muted: 48deg 45% 91%;
    --muted-foreground: 199deg 10% 49%;

    --popover: 48deg 45% 91%;
    --popover-foreground: 202deg 11% 40%;

    --card: 48deg 37% 89%;
    --card-foreground: 202deg 11% 40%;

    --border: 98deg 9% 66%;
    --input: 64deg 54% 89%;

    --primary: 116deg 7% 54%;
    --primary-foreground: 202deg 11% 40%;

    --secondary: 127deg 31% 94%;
    --secondary-foreground: 202deg 11% 40%;

    --accent: 98deg 9% 66%;
    --accent-foreground: 202deg 11% 40%;

    --destructive: 0deg 72% 65%;
    --destructive-foreground: 45deg 100% 97%;

    --ring: 48deg 31% 87%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 202deg 12% 17%;
    --foreground: 41deg 32% 75%;

    --muted: 203deg 12% 13%;
    --muted-foreground: 135deg 7% 64%;

    --popover: 197deg 13% 21%;
    --popover-foreground: 41deg 32% 75%;

    --card: 200deg 12% 25%;
    --card-foreground: 41deg 32% 75%;

    --border: 202deg 7% 31%;
    --input: 165deg 7% 33%;

    --primary: 135deg 7% 64%;
    --primary-foreground: 203deg 12% 13%;

    --secondary: 165deg 7% 33%;
    --secondary-foreground: 41deg 32% 75%;

    --accent: 110deg 5% 49%;
    --accent-foreground: 41deg 32% 75%;

    --destructive: 358deg 68% 70%;
    --destructive-foreground: 41deg 32% 75%):;

    --ring: 110deg 5% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Cabinet Grotesk", sans-serif;
  }
}
