@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('../fonts/Zodiak-LightItalic.woff2') format('woff2'),
       url('../fonts/Zodiak-LightItalic.woff') format('woff'),
       url('../fonts/Zodiak-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
